@import '../../styles/colors.scss';

.headerContainer {
  padding: 15px;
  background: $header-color;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  font-size: 18px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.center {
  justify-content: center;
}