.homepage {
  display: grid;
  // grid-template-columns: 1fr 6fr 1fr;
  padding-top: 60px;
  width: 100%;
}

.homepage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-title {
  font-size: 32px;
  text-align: center;
  color: green;
  width: 80%;
  margin-bottom: 10px;
  // background: white;
  background-color: white;
  box-shadow: 0 0 20px 30px white;
  border-radius: 30%;
  max-width: 1000px;
}

.homepage-mirror-image {
  transform: scaleX(-1);
}

.background-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: space-between;
  overflow: hidden;
}

.homepage-images-row2 {
  margin-top: 100px;
}

.imageLeft {
  float: left;
}

.imageRight {
  float: right;
}

.absolute-image {
  position: absolute; 
  left: 0;
  top: 1000px;
}

.absolute-image-right {
  position: absolute;
  right: -100px;
  top: 1000px;
  z-index: -1;
}

.homepage-main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.homepage-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 40px;
  margin: 50px;
  border-radius: 5px;
  background-color: white;
  font-size: 24px;
  min-width: 550px;
  max-width: 800px;
}

.homepage-section-title {
  color: black;
  font-size: 28px;
  margin: 10px;
}

.homepage-section-body {
  font-size: 22px;
}