.fullPage {
  min-height: 100vh;
  // width: 100vw;
  // max-width: 1100px;
  background: #223025;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
}

.editor {
  color: black !important
}