.filters {
  background: #f8f8f8;
  padding: 15px;
  margin-bottom: 10px;
}

.dropdowns {
  display: flex;
  margin-bottom: 10px;
}

.filter-dropdown-container {
  display: flex;
  align-items: center;
  width: 200px;
}

.filter-dropdown {
  display: flex;
  flex-grow: 1;
  margin: 0 4px;
  border: 1px solid #aeaeae;
  background: white;
}

.bp3-popover-wrapper {
  width: 100%;
}
.bp3-popover-target { 
  width: 100%;
}

.filter-item {
  width: 100%;
  flex-grow: 1;
  padding-left: 4px;
}