.tree-data-page {
  margin-top: 50px;
  width: 100%;
  max-width: 1100px;
  height: 100%;
}
.tree-data-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-bottom: 20px;
}

.tree-data-pagination {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.pagination-button {
  width: 32px;
  background: transparent;
  border: none;
  color: rgb(4, 54, 4);
}

.pagination-button:hover, .pagination-button_active {
  width: 32px;
  background: transparent;
  border: none;
  color: rgb(54, 236, 54);
  cursor: pointer;
}

.table {
  flex-grow: 1;
  height: 90%;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.table-header {
  background-color: #D2B48C;
  padding: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

.row { 
  border-bottom: 1px solid black;
  cursor: pointer;
}

.row > td {
  height: 26px;  
}

.row:hover {
  color: rgb(22, 187, 22);
}

.cell {
  padding: 5px;
}


.even {
  background-color: #EEE8AA;
}

.odd {
  background-color: #FAFAD2
}

.table-icon {
  display: flex;
  position: static;
}

.tree-image {
  height: 'auto',
}

.tree-container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 100px;
  .tree-header {
    width: 100%;
    background-color: #234030;
    color: white;
    // border: 1px solid red;
    padding: 20px;
    font-size: 1rem;
  }
  .sub-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.2rem;
    .body {
      width: 80%;
      .measurements {
        border: 1px solid black;
        border-top: none;
        padding: 10px;
        // background: rgb(11, 82, 11);
        display: grid;
        grid-template-columns: auto auto;
      }
      .tree-images {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 30px;
      }
    }
  }
}

.map-container {
  width: 100%;
}
