.table {
  // background-color: white
}

.table-header {
  background-color: #D2B48C;
  padding: 6px;
  text-transform: uppercase;
}

.row { 
  border-bottom: 1px solid black;
}

.cell {
  padding: 5px;
}


.even {
  background-color: #EEE8AA;
}

.odd {
  background-color: #FAFAD2
}