.tree-data-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.table {
  // background-color: white
  height: 600px;
  width: 100%;
}

.table-header {
  background-color: #D2B48C;
  padding: 6px;
  text-transform: uppercase;
}

.row { 
  border-bottom: 1px solid black;
  height: calc(600 / 20)
}

.cell {
  padding: 5px;
}


.even {
  background-color: #EEE8AA;
}

.odd {
  background-color: #FAFAD2
}