@import '../../styles/colors.scss';

.nav-container {
  width: 100%;
  display: flex;
  background: $header-color;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 15px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navigation {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-evenly;
  color: white;
  padding-top: 2px;
}

.nav-item {
  font-size: 12px;
  padding: 20px;
  letter-spacing: 0.05em;
  color: #E8E710;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: .2s;
}

.nav-item:hover {
  border-bottom: 3px solid #E8E710;
  background: #191E1A;
  color:#E8E710;
  text-decoration: none;
}