.inputField-input:focus ~ .inputField-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputField-container {
  display: flex;
  // width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  // flex-grow: 1;
}

.inputField-input {
  font-size: 14px;
  padding: 3px;
  flex-grow: 1;
  height: 35px;
}

.inputField-label {
  color: white;
  font-size: 16px;
  flex-basis: 240px;
  // pointer-events: none;
  // left: 20px;
  // top: 1px;
  // border: '1px solid red';
  // transition: 0.2s ease all;
}